.modal-body .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.gradient-header {
    background-color: #f9af4f;
}

.add-search-btn {
    background-image: linear-gradient(to bottom, #bbd697 57%, #aec98a 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbd697', endColorstr='#aec98a', GradientType=1)
}
