.modal-body .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.gradient-header {
    background-color: #f9af4f;
}

.add-search-btn {
    background-image: linear-gradient(to bottom, #bbd697 57%, #aec98a 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbd697', endColorstr='#aec98a', GradientType=1)
}

.signup-radio-options {
    padding-bottom: 25px;
}

h4 small {
    color: #000000;
}

#chat-header {
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    width: 75%;
    float: none;
    margin: 0 auto;
    font-weight: bold;
}

.chat-title {
    margin-left: 25px;
}