.clickable {
    cursor: pointer;
}

.labelbox {
    padding: 5px;
    margin: 5px;
}

.labelbox-selected {
    background-color: lightblue;
}

.search-summary {
    border: solid;
}

.map-canvas {
    height: 200px;
    width: 200px;
}

.modal {
    display: block;
}

.message-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
}