<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">Search for a User</h5>
  </div>
  <div class="panel-body">
    <form novalidate login-with-auto-fill
          action="" role="form" name="form" class="form-horizontal">
      <div class="form-group">
        <label for="searchText"
               class="control-label col-lg-2">Email or Name</label>
        <div class="col-lg-3">
          <input ng-model="searchText"
                 name="searchText"
                 id="searchText"
                 class="form-control"
                 type="text"/>
        </div>
      </div>
      <button class="btn col-lg-offset-2" ng-click="searchForUsers()">
        Search
      </button>
    </form>
  </div>
</div>
