<div cs-standard-wrapper>
  <div class="panel panel-default">
    <div class="gradient-header">
      <h2>Whoops, your account has not been activated yet!</h2>
    </div>
    <div class="panel-body">
      <p>
        Please activate your account in order to continue using CommunityShare.
        Click the button below and we will automatically send you an email with
        a link to activate your account.
      </p>
      <p>
        <a ng-click="resendEmailConfirmation()"
           class="btn btn-primary"
           role="button">
          Resend confirmation email
        </a>
      </p>
    </div>
  </div>
</div>