<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">
      What's a K-12 Teacher?
    </h4>
  </div>
  <div class="modal-body">

    <p>
    <strong>K-12 teachers</strong> are individuals who teach daily in
      a school classroom setting. If you are a school administrator or an
      educator who teaches/mentors youth in "informal" learning environments
      (e.g. afterschool programs, nonprofit educational programs, homeschooling)
      who wants to bring in a community partner, please sign up as a
      "K-12 classroom teacher." We know this is clunky and we promise in the
      next version of CommunityShare to make it easier for different types of
      educators to identify themselves when they sign up.
    </p>

    <p>
      If you wear dual hats -- working sometimes are an educator and
      other times serving a community partner -- we encourage you to
      make one profile as an educator and another as a community
      partner. For example, you might currently teach 8th grade Art
      but in "your previous life" you worked as a graphic designer and
      are willing to share your graphic design expertise with
      others. Ok, maybe you won't sleep, but….
    </p>

    <button ng-click="closeModal()" class="btn btn-primary">
      Close</button>

  </div>

</div>
