<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">
      What's a Community Partner?
    </h4>
  </div>
  <div class="modal-body">

    <p>
      <strong>Community partners</strong> include individuals, businesses,
      nonprofit organizations, and academics (staff/students) in higher
      education who are excited to share their skills, experiences and passions
      with teachers and students in schools and out-of-school settings. They
      might have developed their skills and experiences through their work,
      schooling, hobbies, or the paths of life. They could be an elder who
      knows local neighborhood history, a faculty member or grad student at the
      UA, a chef at a restaurant, or a parent who is also an engineer at a
      local engineering firm.
    </p>

    <p>
      If you wear dual hats -- working sometimes as a teacher and other times
      serving as a community partner -- we encourage you to make one profile as
      a teacher and another as a community partner. For example, you might
      currently teach 8th grade Art but in "your previous life" you worked as a
      graphic designer and are willing to share your graphic design expertise
      with others. Ok, maybe you won't sleep, but….
    </p>

    <button ng-click="closeModal()" class="btn btn-primary">
      Close</button>

  </div>

</div>
