<div cs-registration-wrapper>

<div class="panel panel-default">
  <div class="page-header">
    <h2>Teacher or Community Partner</h2>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-3">
        <p>
          I am a:
          <br/>
          <a href="#/signup/communitypartner">
            <button href="#/signup/communitypartner"
                    class="btn btn-default btn-block">
              Community Partner
            </button>
          </a>
          <br/>
          <a href="#/signup/educator">
            <button class="btn btn-default btn-block">
              Teacher
            </button>
          </a>
          <br/>
        </p>
      </div>
    </div>

    <p>
      <strong>Community partners</strong> include individuals, businesses,
      nonprofit organizations, and academics (staff/students) in higher
      education who are excited to share their skills, experiences and passions
      with teachers and students in schools and out-of-school settings. They
      might have developed their skills and experiences through their work,
      schooling, hobbies, or the paths of life. They could be an elder who
      knows local neighborhood history, a faculty member or grad student at the
      UA, a chef at a restaurant, or a parent who is also an engineer at a
      local engineering firm.
    </p>

    <p>
    <strong>K-12 classroom teachers</strong> are individuals who teach daily in
      a school classroom setting. If you are a school administrator or an
      educator who teaches/mentors youth in "informal" learning environments
      (e.g. afterschool programs, nonprofit educational programs, homeschooling)
      who wants to bring in a community partner, please sign up as a
      "K-12 classroom teacher." We know this is clunky and we promise in the
      next version of CommunityShare to make it easier for different types of
      educators to identify themselves when they sign up.
    </p>

    <p>
      If you wear dual hats -- working sometimes as an educator and
      other times serving as a community partner -- we encourage you to
      make one profile as an educator and another as a community
      partner. For example, you might currently teach 8th grade Art
      but in "your previous life" you worked as a graphic designer and
      are willing to share your graphic design expertise with
      others. Ok, maybe you won't sleep, but….
    </p>

  </div>
</div>

</div>
