<h3>I am interested in working with the following groups</h3>
<div class="btn-group">
  <button ng-repeat="label in search.displayLabelsAll.gradeLevels" ng-click="toggleLabel(label)"
       ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
       class="btn btn-sm search-btn light-yellow-button">
    {{label}}
  </div>
</div>

<h3>I am interested in the following types of engagement (check all that apply)</h3>
<div class="btn-group">
  <button ng-repeat="label in search.displayLabelsAll.engagementLevels" ng-click="toggleLabel(label)"
       ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
       class="btn btn-sm search-btn light-blue-button">
    {{label}}
  </div>
</div>

<h3>In which areas do you have expertise?</h3>
<div class="btn-group">
  <button ng-repeat="label in search.displayLabelsAll.subjectAreas.STEM"
          ng-click="toggleLabel(label)"
          ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
          class="btn btn-sm search-btn light-green-button">
    {{label}}</button>
  <button ng-repeat="label in search.displayLabelsAll.subjectAreas.Arts"
          ng-click="toggleLabel(label)"
          ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
          class="btn btn-sm search-btn light-green-button">
    {{label}}</button>
  <button 
     class="btn btn-sm light-green-button search-btn"
     ng-repeat="label in search.displayLabelsAll.subjectAreas.Custom" ng-click="toggleLabel(label)"
     ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
     >
    {{label}}</button>
</div>

<div class="search-input">
  <form class="form-inline">
    <div class="form-group">
      <input
         class="form-control" type="text"
         cs-new-label methods="newLabelMethods" ng-model="newLabel.name"
         typeahead="label for label in allLabels | filter:$viewValue | limitTo:8"
         typeahead-on-select="typeaheadSelect()"
         placeholder="Add More"
         >
    </div>
    <button ng-click="newLabelMethods.onUpdate()" 
            class="btn btn-success">Add</button>
  </form>
</div>
