<h3>I am interested in working with the following groups</h3>
<div class="btn-group">
    <div ng-repeat="label in search.displayLabelsAll.gradeLevels" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="btn btn-sm search-btn light-yellow-button">
      {{label}}
    </div>
</div>

<h3>I am interested in the following types of engagement (check all that apply)</h3>
<div class="btn-group">
    <div ng-repeat="label in search.displayLabelsAll.engagementLevels" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="btn btn-sm search-btn light-blue-button">
      {{label}}
    </div>
</div>

<div ng-show="showSubjectAreas">
  <h3>In which general areas do you have expertise?</h3>
  <div class="row">
    <div ng-click="toggleLabel('STEM')"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels['STEM']]"
         class="btn btn-sm search-btn">
      <h5>STEM</h5>
    </div>
    <div ng-repeat="label in search.displayLabelsAll.subjectAreas.STEM" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="btn btn-sm search-btn">
      {{label}}
    </div>
  </div>
  <div class="row">
    <div ng-click="toggleLabel('Arts')"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels['Arts']]"
         class="btn btn-sm search-btn">
      <h5>Arts</h5>
    </div>
    <div ng-repeat="label in search.displayLabelsAll.subjectAreas.Arts" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="btn btn-sm search-btn">
      {{label}}
    </div>
  </div>

  <h3>In which specific areas do you have expertise?</h3>

  <div class="row" ng-show="search.displayLabelsAll.subjectAreas.Custom.length">
    <div ng-repeat="label in search.displayLabelsAll.subjectAreas.Custom" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="btn btn-sm search-btn">
      {{label}}
    </div>
  </div>
  <div class="row">
    <div class="alert alert-warning">
      To help our matching algorithm please enter as many terms as possible.<br/>
      You may type any term in and are not restricted to the drop-down suggestions.
    </div>
    <div class="col-lg-3">
      <input class="form-control" type="text"
             cs-new-label methods="newLabelMethods" ng-model="newLabel.name"
             typeahead="label for label in allLabels | filter:$viewValue | limitTo:8"
             typeahead-on-select="typeaheadSelect()"
             />
    </div>
    <button class="btn btn-default" ng-click="newLabelMethods.onUpdate()">
      Add</button>
  </div>
</div>

