<!-- This is the main splash page -->

<div id="bg">
  <!-- FIXME: Should point to a locally served file. -->
  <img src="http://i.imgur.com/4dTI4xz.jpg" id="bg" alt="">
</div>

<div id="bg-image">

  <div class="centered-home">

    <div class="row-fluid">

      <div class="col-xs-12 col-md-7 text-center value-prop">
        <h1>Reaching Out</h1>
        <h2>Working together to benefit the children in <br/> your community</h2>
      </div>

      <div class="col-xs-12 col-md-4 well pull-right signup-div">

        <h2 class="text-center">Join Community Share</h2>
        <form role="form" name="signUpForm">

          <div class="form-group">
            <input ng-model="newUser.firstName"
                   required
                   type="text"
                   name="firstName"
                   id="firstName"
                   placeholder="First Name"
                   class="form-control input-lg signup-form"/>
            <p ng-show="signUpForm.firstName.$invalid && !signUpForm.firstName.$pristine"
               class="help-block">
              First Name is required.
            </p>
          </div>

          <div class="form-group">
            <input ng-model="newUser.lastName"
                   required
                   type="text"
                   name="lastName"
                   id="lastName"
                   placeholder="Last Name"
                   class="form-control input-lg signup-form"/>
            <p ng-show="signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine"
               class="help-block">
              Last Name is required.
            </p>
          </div>

          <div class="form-group">
            <input ng-model="newUser.email"
                   required
                   name="email"
                   id="email"
                   placeholder="Email"
                   class="form-control input-lg signup-form"
                   type="email"/>
            <p ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine" class="help-block">
              Please enter a valid email.
            </p>
          </div>

          <div class="form-group">
            <input ng-model="newUser.password"
                   required
                   name="password"
                   id="password"
                   class="form-control input-lg signup-form"
                   placeholder="Password"
                   cs-parser-hook="passwordConnection"
                   ng-minlength="8"
                   methods="passwordMethods"
                   type="password"/>
            <p ng-show="signUpForm.password.$error.required && !signUpForm.password.$pristine"
               class="help-block">
              A password is required.
            </p>
            <p ng-show="signUpForm.password.$error.minlength && !signUpForm.password.$pristine"
               class="help-block">
              Password is less than 8 characters.
            </p>
          </div>

          <div class="form-group">
            <input ng-model="repeat_password"
                   name="repeat_password"
                   id="repeat_password"
                   class="form-control input-lg signup-form"
                   cs-match="passwordConnection"
                   methods="passwordMethods"
                   placeholder="Confirm Password"
                   type="password"/>
            <p ng-show="signUpForm.repeat_password.$error.match && !signUpForm.repeat_password.$pristine" class="help-block">
              Passwords do not match.
            </p>
          </div>
          
          <div class="col-xs-12 text-center">
            <h2>Sign Up As An</h2>
          </div>

          <div class="col-xs-6">
            <label class="radio inline">
              <input type="radio" name="inLineRadioOptions"
                     ng-model="user_type"
                     class="signupRadio" value="educator">
              <h3>Educator</h3>
            </label>
          </div>
          

          <div class="col-xs-6">
            <label class="radio inline">
              <input type="radio" name="inLineRadioOptions"
                     ng-model="user_type"
                     class="signupRadio" value="communityPartner">
              <h3>Community Partner</h3>
            </label>
          </div>
          

          <div class="col-xs-12">
            
            <p> By clicking Sign Up, you agree to our <a ng-click="showTerms()" class="clickable">
                Terms of Service</a>.</p>
          </div>
          <div alert alert-error ng-show="errorMessage">{{errorMessage}}</div>
          
          <div class="col-xs-8 text-center">
            <button type="submit" class="btn btn-primary btn-lg text-center signup-btn"
                    ng-disabled="signUpForm.$invalid || (user_type === undefined)"
                    ng-click="completeSplash()">
              Sign Up
            </button>
            <p> By clicking Sign Up, you agree to our <a ng-click="showTerms()" class="clickable">
                Terms of Service</a>.</p>
          </div>
          <div alert alert-error ng-show="errorMessage">{{errorMessage}}</div>

          <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg text-center signup-btn"
                    ng-disabled="signUpForm.$invalid || (user_type === undefined)"
                    ng-click="completeSplash()">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
