<div "jumbotron">
  <h1>Community Share</h1>
  <div class="row">
    <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            Sign up as a Community Partner
        </h4>
      </div>
      <div class="panel-body">
        <a href="#/signup/communitypartner">
          Sign Up Now!
        </a>
      </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            Sign up as an Educator
        </h4>
      </div>
      <div class="panel-body">
        <a href="#/signup/educator">
          Sign Up Now!
        </a>
      </div>
    </div>
    </div>
  </div>
</div>
