<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Grade Levels</h4>
  </div>
  <div class="row panel-body">
    <div ng-repeat="label in search.displayLabelsAll.gradeLevels" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="clickable labelbox">
      {{label}}
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Subject Areas</h4>
  </div>
  <div class="panel-body row">
    <div ng-click="toggleLabel('STEM')"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels['STEM']]"
         class="clickable labelbox">
      <h5>STEM</h5>
    </div>
    <div ng-repeat="label in search.displayLabelsAll.subjectAreas.STEM" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="clickable labelbox">
      {{label}}
    </div>
  </div>
  <div class="panel-body row">
    <div ng-click="toggleLabel('Arts')"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels['Arts']]"
         class="clickable labelbox">
      <h5>Arts</h5>
    </div>
    <div ng-repeat="label in search.displayLabelsAll.subjectAreas.Arts" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="clickable labelbox">
      {{label}}
    </div>
  </div>
  <div class="panel-body row" ng-show="search.displayLabelsAll.subjectAreas.Custom.length">
    <div class="labelbox">
      <h5>Custom</h5>
    </div>
    <div ng-repeat="label in search.displayLabelsAll.subjectAreas.Custom" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="clickable labelbox">
      {{label}}
    </div>
  </div>
  <div class="panel-body row">
    <h5 class="col-lg-3">Add Specific Subject Area</h5>
    <div class="col-lg-3">
      <input class="form-control" type="text"
             cs-new-label methods="newLabelMethods" ng-model="newLabel.name"/>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Engagement Levels</h4>
  </div>
  <div class="row panel-body">
    <div ng-repeat="label in search.displayLabelsAll.engagementLevels" ng-click="toggleLabel(label)"
         ng-class="{true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
         class="clickable labelbox">
      {{label}}
    </div>
  </div>
</div>
