<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">
      CommunityShare : 4 Super Easy Steps!
    </h4>
  </div>
  <div class="modal-body">

    <h4>(1) JOIN CommunityShare!</h4>

    <p>
      Create your profile. It only takes minutes! 
    </p>

    <h4>(2) SEARCH</h4>

    <p>
      Search for a community partner to visit your classroom. There are many
      search parameters so you can narrow or widen your search. Your search
      will result in a list of matches (partner profiles) that you can
      explore.
    </p>

    <h4>(3) CONNECT</h4>

    <p>
      Found a community partner who may fit your needs? Send a MESSAGE to
      connect with them.
    </p>

    <h4>(4) SHARE!</h4>

    <p>
      After connecting via MESSAGES, you can organize a SHARE by clicking:
      CREATE A SHARE to confirm the share details, date, time and location
      to make the share a reality!
    </p>

    <h4>Go SHARE!</h4>

    <button ng-click="closeModal()" class="btn btn-primary">
      Close</button>

  </div>

</div>
