<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">Search for a Community Partner</h5>
  </div>
  <div class="panel-body">
    
    <button class="btn btn-primary clickable" ng-click="newSearch()">
      Start a New Search
    </button>
    <h5>Previous Searches</h5>
    <p>
      Community Partners can find you based on these searches.
    </p>
    <div class="search-summary" ng-repeat="search in activeSearches">
      <div>
        <a ng-href="#/search/{{search.id}}/edit">Edit Search</a> - 
        <a ng-click="deleteSearch(search)" class="clickable">Delete Search</a>
      </div>
      <div ng-repeat="label in search.labels" class="labelbox">
        {{label}}
      </div>
      <a href="#/search/{{search.id}}/results">
        <button class="btn btn-primary">
          Show Matching Community Partners
        </button>
      </a>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
