<div>
  <h5>I'm an Educator</h5>
  
  <p>I'm looking to work which a community partner</p>

  <p><a ng-href="#/search" class="clickable">New Search</a></p>

  <p>I'm currently searching for {{activeSearches.length}} partners matching:</p>
  <div class="row search-summary" ng-repeat="search in activeSearches">
    <div class="col-lg-3">
      <a ng-href="#/search/{{search.id}}/edit">Edit
      <a ng-click="deleteSearch(search)" class="clickable">Delete
      <a ng-href="#/search/{{search.id}}/results">Results
    </div>
    <div ng-repeat="label in search.labels" class="labelbox col-lg-3">
      {{label}}
    </div>
  </div>

</div>
