<form novalidate name="institutionsForm">
  <div ng-repeat="institutionAssociation in user.institution_associations" cs-institution-association-edit>
  </div>
  
  <label class="checkbox-inline"
         ng-click="updateInstitutions()">
    <input type="checkbox" id="noInstitutions" ng-model="noInstitutions">
    <p class="text-muted">Not Associated with an Organization.</p>
  </label>
  
  <a class="pull-right" ng-click="user.addNewInstitutionAssociation();">
    + Add Organization Association</a>

</form>
