<ng-form novalidate class="org-info" name="institutionForm">
  <div class="form-group" data-input-error-helper>
    <input ng-model="institutionAssociation.institution.name"
           name="institution"
           id="institution"
           class="form-control org-input"
           ng-maxlength=50
           placeholder="Organization Name"
           typeahead="i.name for i in institutions | filter:$viewValue | limitTo: 100"
           ng-disabled="noInstitutions"
           required
           type="text"/>
    <p ng-show="institutionForm.institution.$error.required && !institutionForm.institution.$pristine">
      An organization name is required
    </p>
    <p ng-show="institutionForm.institution.$error.maxlength && !institutionForm.institution.name.$pristine"
      class="help-block">
      Organization name must be 50 characters or less.
    </p>
  </div>
  <div ng-if="roles.length === 0" class="form-group" data-input-error-helper>
    <input ng-model="institutionAssociation.role"
           name="role"
           id="role"
           class="form-control org-input"
           placeholder="Position/Title"
           ng-disabled="noInstitutions"
           required
           type="text"/>
    <p ng-show="institutionForm.role.$error.required && !institutionForm.role.$pristine">
      A role is required
    </p>
  </div>
  <div ng-if="roles.length > 0" class="form-group" data-input-error-helper
       data-input-tag="select" field-name="role">
    <select ng-model="institutionAssociation.role"
            name="role"
            id="role"
            class="form-control org-input"
            ng-options="role for role in roles"
            required
            ng-disabled="noInstitutions"
            >
      <option value="" selected>Role</option>
    </select>
    <p ng-show="institutionForm.role.$error.required && !institutionForm.role.$pristine">
      A role is required
    </p>
  </div>
  <div class="form-group" data-input-error-helper data-input-tag="select" 
       field-name="institution_type">
    <select ng-model="institutionAssociation.institution.institution_type"
            name="institution_type"
            id="institution_type"
            class="form-control org-input"
            ng-options="typ for typ in institutionTypes | filter:$viewValue | limitTo: 100"
            ng-disabled="noInstitutions"
            required
            ng-change="institutionForm.institution_type.showError=true"
            >
      <option value="" selected>Type of Organization</option>
    </select>
    <p ng-show="institutionForm.institution_type.$error.required && !institutionForm.institution_type.$pristine">
      An organization type is required
    </p>
  </div>
  
  <a class="cs-form-button"
     ng-if="institutionAssociation.remove && (institutionAssociation.institution.name || institutionAssociation.role || institutionAssociation.institution.institution_type)"
     ng-click="institutionAssociation.remove()">
    Delete Institution
  </a>
  
</form>
