<div ng-repeat="labelInfo in labelInfos">
  <h3>{{labelInfo[0]}}</h3>
  <div class="btn-group">
    <button ng-repeat="label in search.displayLabelsAll[labelInfo[1]]" ng-click="toggleLabel(label)"
            ng-class="labelClasses[labelInfo[1]] + ' ' + {true: 'labelbox-selected', false: ''}[search.activeLabels[label]]"
            class="btn btn-sm search-btn"
            >
      {{label}}
    </button>
  </div>
</div>

<div class="search-input">
  <form class="form-inline">
    <div class="form-group">
      <input
         class="form-control" type="text"
         cs-new-label methods="newLabelMethods" ng-model="newLabel.name"
         typeahead="label for label in allLabels | filter:$viewValue | limitTo:8"
         typeahead-on-select="typeaheadSelect()"
         placeholder="Add More"
         >
    </div>
    <button ng-click="newLabelMethods.onUpdate()" 
            class="btn btn-success">Add</button>
  </form>
</div>
