<div class="search-options-containter">
  <h4>{{gradeLevelsTitle}}</h4>
  <div class="btn-group">
    <button ng-repeat="label in display.all.gradeLevels" ng-click="toggleLabel(label)"
            ng-show="display.active[label] || !onlyShowActive"
            ng-class="{true: 'labelbox-selected', false: ''}[display.active[label]]"
            class="btn btn-sm search-btn light-yellow-button"
            >
      {{label}}
    </button>
  </div>
</div>

<div class="search-options-containter">
  <h4>{{subjectAreasTitle}}</h4>
  <div class="btn-group pull-right">
    <button ng-repeat="label in display.all.subjectAreas" ng-click="toggleLabel(label)"
            ng-show="display.active[label] || !onlyShowActive"
            ng-class="{true: 'labelbox-selected', false: ''}[display.active[label]]"
            class="btn btn-sm search-btn light-green-button"
            >
      {{label}}
    </button>
  </div>
  
  <div class="search-input" ng-show="!onlyShowActive">
    <form class="form-inline">
      <div class="form-group">
        <input
           class="form-control add-form-field" type="text"
           cs-new-label methods="newLabelMethods" ng-model="newLabel.name"
           typeahead="label for label in allLabels | filter:$viewValue | limitTo:8"
           typeahead-on-select="typeaheadSelect()"
           placeholder="Add More..."
           >
      </div>
      <button ng-click="newLabelMethods.onUpdate()"
              class="btn add-search-btn text-center">Add</button>
    </form>
  </div>
</div>


<div class="last-search-container">
  <h4>{{engagementLevelsTitle}}</h4>
  <div class="btn-group">
    <button ng-repeat="label in display.all.engagementLevels" ng-click="toggleLabel(label)"
            ng-show="display.active[label] || !onlyShowActive"
            ng-class="{true: 'labelbox-selected', false: ''}[display.active[label]]"
            class="btn btn-sm search-btn light-blue-button"
            >
      {{label}}
    </button>
  </div>
</div>
