<div cs-splash-wrapper>

      <div class="col-xs-12 col-md-7 text-center value-prop">
        <h1>Reaching Out</h1>
        <h2>Working together to benefit the children in </br> your community</h2>
      </div>

      <div class="col-xs-12 col-md-4 well pull-right signup-div">

        <h2 class="text-center">Log In</h2>

        <form novalidate login-with-auto-fill
              action="" role="form" name="loginForm">
          <div class="form-group">
            <input ng-model="email"
                   required
                   name="email"
                   id="email"
                   class="form-control"
                   placeholder="Email"
                   type="email"/>
            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">
              Enter a valid email.
            </p>
          </div>
          <div class="form-group">
            <input ng-model="password"
                   required
                   type="password"
                   name="password"
                   id="password"
                   placeholder="Password"
                   class="form-control"/>
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">
              A password is required.
            </p>
          </div>
          <div class="row">
            <div class="alert alert-danger cs-form-message" ng-show="errorMessage">
              {{errorMessage}}</div>
          </div>
          <div class="row">
            <div class="cs-form-button">
              <button class="btn btn-default" type="submit" ng-click="login()"
                      ng-disabled="loginForm.$invalid">
                Login
              </button>
              <a class="padded-link" ng-href="#/requestresetpassword">
                Forgotten your password?
              </a> 
            </div>
          </div>
          <div class="row">
            Don't have an account?
            <a class="padded-link" ng-href="#/">
              Sign Up!
            </a>
          </div>
          
        </form>
        
      </div>
</div>
