<div cs-standard-wrapper>

<div cs-forbidden ng-if="Session.activeUser === undefined">
</div>

<div ng-if="Session.activeUser !== undefined">

  <div class="panel panel-default">
    <div class="gradient-header">
      <h2>Messages</h2>
    </div>
    <div class="panel-body">
      <div class="alert alert-info" ng-show="infoMessage">
        {{infoMessage}}</div>
      <div class="alert alert-danger" ng-show="errorMessage">
        {{errorMessage}}</div>

      <div ng-show="conversations.length == 0">
        You have no messages.
      </div>

      <div ng-repeat="conversation in conversations">
        <div class="message-archive-container">
        <div class="row clickable" ng-click="showConversation(conversation.id)">
          <div class="col-xs-4 col col-md-2">
            <img ng-src="{{conversation.otherUser.picture_url}}"
                 class=" img-circle img-responsive message-archive-image">
          </div>
          <div class="col-lg-10">
            <h4>{{conversation.otherUser.name}}</h4>
            <span ng-repeat="ia in conversation.otherUser.institution_associations">
              {{ia.role}} / {{ia.institution.name}}
            </span><br/>
            <p>{{conversation.otherUser.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
