<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation"
     ng-controller="NavigationController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse"
              ng-init="navCollapsed=true"
              ng-click="navCollapsed=!navCollapsed"
              >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div ng-switch on="Session.activeUser !== undefined">
        <a class="navbar-brand brand">
          <!-- FIXME: Should point to a locally served file. -->
          <img src="http://imgur.com/ryZeICk.png"  id="logo-id" />
        </a>
      </div>
    </div>
    <div class="navbar-collapse collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="Session.activeUser">
          <a href="#/user/{{Session.activeUser.id}}">
            {{Session.activeUser.name}}
          </a>
        </li>
        <li ng-show="Session.activeUser">
          <a href="#/settings">Settings</a></li>
        <li ng-show="Session.activeUser">
          <a ng-click="logout()" class="clickable">Logout</a></li>
        <li ng-show="Session.activeUser == undefined">
          <a href="#login" ng-show="!Session.activeUser">Login</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>
