<div class="form-group">
  <label for="name"
         class="control-label cs-form-label">Name</label>
  <div class="cs-form-control">
    <input ng-model="user.name"
           required
           type="text"
           name="name"
           id="name"
           class="form-control"/>
    <p ng-show="personalSettingsForm.name.$invalid" class="help-block">
      A name is required.
    </p>
  </div>
</div>

<div class="form-group">
  <label for="bio"
         class="control-label cs-form-label">Bio</label>
  <div class="cs-form-control">
    <textarea ng-model="user.bio"
              name="bio"
              required
              class="form-control"></textarea>
    <p ng-show="personalSettingsForm.bio.$invalid" class="help-block">
      A brief description of yourself is required.
    </p>
  </div>
</div>

  <div class="form-group">
    <label for="location"
           class="control-label cs-form-label">ZIP Code</label>
    <div class="cs-form-control">
      <input ng-model="user.zipcode"
             name="zipcode"
             id="zipcode"
             required
             class="form-control"
             ng-pattern="/^\d{5}(-\d{4})?$/"
             type="text"/>
      <p ng-show="personalSettingsForm.zipcode.$invalid"
         class="help-block">
        Please enter a valid ZIP code.
      </p>
    </div>
  </div>

<div cs-institutions user="user"
     is-community-partner="isCommunityPartner"
     is-educator="isEducator"
     >
</div>

<label class="checkbox-inline">
  <input type="checkbox" 
         ng-model="user.wants_update_emails" checked>
  CommunityShare invites you to stay informed
  about our progress in connecting educators and
  community members and adding new features to
  the CommunityShare site through periodic email
  updates. Uncheck here to opt-out.  You will still
  receive emails in relation to your
  correspondence with community
  partners/educators.
</label>
