<div cs-main-view has-permission="{{(!(Session.activeUser === undefined))}}">
  <div class="row">

    <div class="col-sm-2 col-md-3">


      <div id="side-bar">
        <img src="http://lorempixel.com/200/200/people/" class="img-responsive img-circle centered">
        <ul class="side-nav" id="side-nav-items">
          <li class="side-nav-links"><a ng-href="/#/search/{{search.id}}/results">Matches</a>
          </li>
          <li class="side-nav-links"><a href="#">Search</a>
          </li>
          <li class="side-nav-links"><a href="#">Messages</a>
          </li>
          <li class="side-nav-links"><a href="#">Shares</a>
          </li>

        </ul>


      </div>

    </div>


    <div class="col-sm-10 col-md-9">
      <div class="row">

      <div class="panel panel-default">
      <div class="gradient-header">
        <h1>Sandra Ley</h1>
      </div>

      <div class="panel-body">

        <div class="col-sm-2 col-md-3">
          <img src="http://lorempixel.com/200/200/people/" class="img-responsive img-circle centered">

          <div class="text-center">
            <button class="btn btn-primary btn-lg profile-btns">Message</button>
            <button class="btn btn-success btn-lg profile-btns">View Favorites</button>
            <button class="btn btn-warning btn-lg profile-btns">View Shares</button>
          </div>

        </div>

        <div class="col-sm-10 col-md-9">
          <h3>Science Researcher * Tripe Labs</h3>
          <p>It all started when our uber geek, Sandra Ley woke up in a fanstic pumpkin patch. It was the third time it had happened. Feeling alarmingly frustrated, Sandra Ley poked a ripened avocado, think- ing it would make him feel better (but as usual, it did not). A few freaknasty minutes later, he realized that his beloved Watermelon was missing! Immediately he called his undeclared soulmate, Selloy Jenkins.</p>

          <h3>What types of organizations have you previously volunteered at?</h3>
          <div class="btn-group">
            <button class="btn btn-sm light-blue-button search-btn">College</button>
            <button class="btn btn-sm light-blue-button search-btn">Non-profit</button>
            <button class="btn btn-sm light-blue-button search-btn">Fieldtrip Host</button>
          </div>

          <h3>Engadgement Preference</h3>
          <div class="btn-group">
            <button class="btn btn-sm light-green-button search-btn">Bugs</button>
            <button class="btn btn-sm light-green-button search-btn">Astronomy</button>
            <button class="btn btn-sm light-green-button search-btn">Technology</button>
            <button class="btn btn-sm light-green-button search-btn">Math</button>
            <button class="btn btn-sm light-green-button search-btn">Biology</button>
            <button class="btn btn-sm light-green-button search-btn">Fractions</button>
            <button class="btn btn-sm light-green-button search-btn">Solar</button>
          </div>

          <h3>Group Preference</h3>
          <div class="btn-group">
            <button class="btn btn-sm light-yellow-button search-btn">Adult</button>
            <button class="btn btn-sm light-yellow-button search-btn">9-12</button>
          </div>

        </div>
      </div>
    </div>
  </div>
