  <div class="form-group">
    <label for="question{{question.id}}"
           class="control-label">{{question.text}}</label>
    <div ng-if="question.suggested_answers.length > 0">
      <select ng-options="suggested_answer for suggested_answer in question.suggested_answers"
              class="form-control"
              ng-model="question.answer.text"
              >
        <option value="" ng-if="!question.only_suggested_answers">
          Other (Fill in the blank)</option>
      </select>
      <div ng-show="(!question.answer.text) && (!question.only_suggested_answers)">
        <input ng-model="custom_answer"
               name="custom_answer{{question.id}}"
               id="custom_answer{{question.id}}"
               class="form-control"
               type="text"/>
      </div>
      <div ng-if="question.suggested_answers.length === 0">
        <input ng-if="!question.long_answer"
               type="text" ng-model="question.answer.text"
               class="form-control"
               />
        <textarea ng-if="question.long_answer"
                  ng-model="question.answer.text"
                  class="form-control"
                  ></textarea>
      </div>
    </div>
  </div>
