<div cs-splash-wrapper>

      <div class="col-xs-12 col-md-7 text-center value-prop">
        <h1>Reaching Out</h1>
        <h2>Working together to benefit the children in <br/> your community</h2>
      </div>

      <div class="col-xs-12 col-md-4 well pull-right signup-div">

        <h2 class="text-center">Reset Password</h2>

        <form novalidate login-with-auto-fill
              action="" role="form" name="form" class="form-horizontal">
          <div ng-show="!successfulRequest">
            <p>
              Submit your email address to receive an email with instructions on how to reset your password.
            </p>
            <div class="input-group">
              <input ng-model="email"
                     name="email"
                     id="email"
                     class="form-control"
                     placeholder="Email"
                     type="email"/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="requestResetPassword()">
                  Submit
                </button>
              </span>
            </div>
          </div>

          <p>
            <div ng-show="successfulRequest" class="cs-form-message alert alert-success">
              Password reset request sent successfully to {{email}}.<br/>
              Follow the instructions in the sent email.
            </div>
            
            <div ng-show="errorMessage" class="cs-form-message alert alert-danger">
              {{errorMessage}}
            </div>
          </p>
          
        </form>

      </div>
</div>
