<div>
  <form novalidate login-with-auto-fill
        action="" role="form" name="form" class="form-horizontal">
    <h4>Reset Password</h4>
    <div ng-show="!successfulRequest">
      <p>
        Submit your email address to receive an email with instructions on how to reset your password.
      </p>
      <div ng-show="failedRequest">
        <p>
          Password reset request failed.
        </p>
      </div>
      <div class="form-group">
        <label for="email"
               class="control-label cs-form-label">Email</label>
        <div class="cs-form-control">
          <input ng-model="email"
                 name="email"
                 id="email"
                 class="form-control"
                 type="email"/>
        </div>
      </div>
      <div ng-show="successfulRequest" class="cs-form-message alert alert-success">
          Password reset request sent successfully.
      </div>
      <button class="btn cs-form-button" ng-click="requestResetPassword()">
        Send Email
      </button>
    </div>
  </form>

</div>
