<div cs-main-view has-permission="{{(!(Session.activeUser === undefined))}}">
  <div class="row">

    <div class="col-sm-2 col-md-3">


      <div id="side-bar">
        <img src="http://lorempixel.com/200/200/people/" class="img-responsive img-circle centered">
        <ul class="side-nav" id="side-nav-items">
          <li class="side-nav-links"><a ng-href="/#/search/{{search.id}}/results">Matches</a>
          </li>
          <li class="side-nav-links"><a href="#">Search</a>
          </li>
          <li class="side-nav-links"><a href="#">Messages</a>
          </li>
          <li class="side-nav-links"><a href="#">Shares</a>
          </li>

        </ul>


      </div>

    </div>


    <div class="col-xs-10 col-md-9">
      <div class="panel panel-default">

        <div class="page-header">
          <h1>Search for Community Partners</h1>
        </div>

          <div class="row">
          <div class="col-xs-12">
          <div class="panel-body">

          <div class="search-section">
          <h2>What age ranges would you like to work with?</h2>


          <div class="btn-group">
            <button class="btn btn-sm light-yellow-button search-btn">k-5</button>
            <button class="btn btn-sm light-yellow-button search-btn">6-8</button>
            <button class="btn btn-sm light-yellow-button search-btn">9-12</button>
            <button class="btn btn-sm light-yellow-button search-btn">College</button>
            <button class="btn btn-sm light-yellow-button search-btn">Adult</button>
          </div>
        </div>
      </div>
      <div class="search-section">
          <h2>What areas should they have expertise?</h2>
          <div>
        <div class="btn-group">
            <button class="btn btn-sm light-green-button search-btn">STEM</button>
            <button class="btn btn-sm light-green-button search-btn">Science</button>
            <button class="btn btn-sm light-green-button search-btn">Technology</button>
            <button class="btn btn-sm light-green-button search-btn">Engineering</button>
            <button class="btn btn-sm light-green-button search-btn">Art</button>
            <button class="btn btn-sm light-green-button search-btn">Visual Arts</button>
            <button class="btn btn-sm light-green-button search-btn">Digital Media</button>
            <button class="btn btn-sm light-green-button search-btn">Film & Photography</button>
            <button class="btn btn-sm light-green-button search-btn">Literature</button>
            <button class="btn btn-sm light-green-button search-btn">Performing Arts</button>
              </div>
            </div>

            <div class="search-input">
            <form class="form-inline">
              <div class="form-group">
                <input class="form-control" placeholder="Add More">
              </div>
              <button type="submit" class="btn btn-success">Add</button>
            </form>
          </div>
        </div>

    <div id="search-section-last">
    <h2>What roles do you need fulfilled</h2>
    <div>
  <div class="btn-group">
      <button class="btn btn-sm light-blue-button search-btn">Guest Speaker</button>
      <button class="btn btn-sm light-blue-button search-btn">Field Trip Host</button>
      <button class="btn btn-sm light-blue-button search-btn">Student Competition Judge</button>
      <button class="btn btn-sm light-blue-button search-btn">Individual Mentor</button>
      <button class="btn btn-sm light-blue-button search-btn">Small Group Mentor</button>
      <button class="btn btn-sm light-blue-button search-btn">Curriculuum Development</button>
      <button class="btn btn-sm light-blue-button search-btn">Career Day Participant</button>
      <button class="btn btn-sm light-blue-button search-btn">Classroom Materials Provider</button>
      <button class="btn btn-sm light-blue-button search-btn">Short-term</button>
      <button class="btn btn-sm light-blue-button search-btn">Long-term</button>
        </div>
      </div>

      <div class="search-input">
      <button type="submit" class="btn btn-primary btn-lg center-block">Submit Search</button>
      </div>

      </div>
      </div>
    </div>
