<div cs-standard-wrapper>

<div cs-forbidden ng-if="Session.activeUser === undefined">
</div>

<div ng-if="Session.activeUser !== undefined">

  <div class="panel panel-default">
    <div class="gradient-header">
      <h2>Search</h2>
    </div>
    <div class="panel-body">
      <div alert alert-info ng-show="infoMessage">{{infoMessage}}</div>
      <div alert alert-danger ng-show="errorMessage">{{errorMessage}}</div>

      <div>
        <h3>Search by name, email, instition, biography or expertise.</h3>
        <input ng-model="searchText.value"
               name="searchText"
               id="searchText"
               class="form-control"
               placeholder="Search"
               type="text"/>
        <button class="primary-btn btn-lg search-btn"
                ng-click="userSearch()">
          Submit
        </button>
      </div>
    </div>



  </div>
</div>
</div>
