<div cs-standard-wrapper>

  <div cs-forbidden ng-if="Session.activeUser === undefined">
  </div>

  <div ng-if="Session.activeUser !== undefined">

    <div class="panel panel-default">
      <div class="gradient-header">
        <h1>Searched for "{{prevSearchText}}"</h1>
      </div>
      <div class="panel-body">

        <form novalidate login-with-auto-fill
              action="" role="form" name="form" class="form-horizontal">
          
          <div class="form-group">
            <label for="searchText"
                   class="control-label cs-form-label">Email/Name/Institution</label>
            <div class="cs-form-control">
              <input ng-model="searchText.value"
                     name="searchText"
                     id="searchText"
                     class="form-control"
                     type="text"/>
            </div>
          </div>
          <button class="btn btn-default cs-form-button" ng-click="newSearch()">
            Search
          </button>
    
        </form>
    
        <div ng-show="infoMessage" class="alert alert-info">
          {{infoMessage}}
        </div>
        
        <div ng-show="errorMessage" class="alert alert-danger">
          {{errorMessage}}
        </div>
    
        <div ng-show="(users !== undefined) && (users.length === 0)"
             class="alert alert-warning"
             >
          No matching users found.
        </div>
        
        <div ng-repeat = "user in users" class="row">
          <hr/>
          <div class="col-sm-3 col-xs-5 ">
            <img ng-src="{{user.picture_url}}"
                 class="img-responsive img-circle profile-img centered" />
            <img ng-show="!user.picture_url"
                 src="https://communityshare_assets.s3.amazonaws.com/default_avatar.png" 
                 class="img-responsive img-circle centered profile-img"/>
            <div class="text-center">
              <button class="btn primary-btn match-message-btn btn-lg"
                      ng-click="startConversation(Session.activeUser, user, match, false)">
                Message
              </button>
            </div>
          </div>
          <div class="col-sm-9 col-xs-7">
            <a ng-href="#/user/{{user.id}}">
              <h4 class="match-username">{{user.name}}</h4></a>
            <p ng-repeat="ia in user.institution_associations"
               class="position">
              {{ia.role}} &#183; {{ia.institution.name}}
            </p>
            <p class="show-linebreaks">{{user.bio}}</p>
            <div class="match-labels">
              <button ng-repeat="label in match.labels"
                      ng-class="labelClasses[labelMapping[label]] + ' ' + {true: 'label-selected', false: 'labelbox btn-xs'}[match.matchingLabels[label]]"
                      class="btn btn-sm">
                {{label}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
