<div cs-main-view has-permission="{{(!(Session.activeUser === undefined))}}">
 <div class="row">

   <div class="col-sm-2 col-md-3">


     <div id="side-bar">
       <img src="http://lorempixel.com/200/200/people/" class="img-responsive img-circle centered">
       <ul class="side-nav" id="side-nav-items">
         <li class="side-nav-links"><a ng-href="/#/search/{{search.id}}/results">Matches</a>
         </li>
         <li class="side-nav-links"><a href="#">Search</a>
         </li>
         <li class="side-nav-links"><a href="#">Messages</a>
         </li>
         <li class="side-nav-links"><a href="#">Shares</a>
         </li>

       </ul>


     </div>

   </div>


<div class="col-sm-10 col-md-9">
 <div class="panel panel-default">
   <div class="page-header">
     <h1>Search</h1>
   </div>
   <div>
<h2>What age range would you like to work with?</h2>
<button class="btn btn-sm light-yellow-button">k-12</button>
<button class="btn btn-sm light-yellow-button">k-12</button>
<button class="btn btn-sm light-yellow-button">k-12</button>
<button class="btn btn-sm light-yellow-button">k-12</button>
<button class="btn btn-sm light-yellow-button">k-12</button>
<button class="btn btn-sm light-yellow-button">k-12</button>
<button class="btn btn-sm light-yellow-button">k-12</button>
<button class="btn btn-sm light-yellow-button">adults</button>
</div>

</div>
