<div >
  <div id="side-bar">
    <img src="http://lorempixel.com/200/200/people/" class="img-responsive img-circle centered">
    <ul class="side-nav" id="side-nav-items">
      <li class="side-nav-links"><a href="/#/search">Search</a>
      </li>
      <li class="side-nav-links"><a href="/#/messages">Messages</a>
      </li>
      <li class="side-nav-links"><a href="/#/shares">Shares</a>
      </li>
      <li class="side-nav-links"><a href="/#/matches">Matches</a>
      </li>
      <li class="side-nav-links"
          ng-show="Session.activeUser.is_administrator">
        <a href="/#/admin">Admin</a>
      </li>
    </ul>
  </div>
</div>

<!-- FIXME: You should be able to toggle this menu using the "hamburger" menu icon. Preferrable with a transition.  -->
<!--
    <div ng-controller="NavigationController">
      <div ng-show="Session.activeUser" class="visible-xs col-sm-4 col-xs-6 off-canvas off-canvas-ease-in">
        <div class="off-canvas-menu">
          <img src="http://lorempixel.com/200/200/people/" class="img-responsive img-circle centered">
          <ul class="side-nav" id="side-nav-items">
            <li class="side-nav-links"><a href="/#/search">Search</a>
            </li>
            <li class="side-nav-links"><a href="/#/messages">Messages</a>
            </li>
            <li class="side-nav-links"><a href="/#/shares">Shares</a>
            </li>
            <li class="side-nav-links"><a href="/#/matches">Matches</a>
            </li>
          </ul>
              </hr>
              <div class="off-canvas-sec-nav centered">
                <ul class="side-nav" id="side-nav-items"> -->
<!-- FIXME: You should be able to toggle this menu using the  -->
<!--  <li><a href="">Settings</a></li>
      <li><a href="">Resources</a></li>
<li><a href="">Help</a></li>
<li><a href="">Log Out</a></li>
</ul>
</div>
</div>
</div> -->

