<h1>Educator SignUp</h1>

<form novalidate
      action="" role="form" name="signUpForm" class="form-horizontal">

  <div cs-signup-settings></div>

</form>

<div cs-educator-search-settings
     methods="educatorSearchSettingsMethods"
     search="search"
     form="properties.educatorSearchSettingsForm"
     ></div>

<button class="btn cs-form-button"
        ng-disabled="signUpForm.$invalid || properties.educatorSearchSettingsForm.$invalid"
        ng-click="saveSettings()">
  Sign Up!
</button>
