<div cs-registration-wrapper>

  <div cs-forbidden ng-if="Session.activeUser === undefined">
  </div>

  <div ng-if="Session.activeUser !== undefined">

    <div class="panel panel-default">

      <div class="gradient-header">
        <h1>Welcome to CommunityShare</h1>
      </div>
      
      <div class="panel-body">
        <h3 class="text-center">School Information</h3>
        <div class="row">
          <div class="col-md-9 centered">
            <div class="org-signup">
              <div cs-institutions user="user" is-educator="true"
                   methods="institutionMethods"
                   >
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div ng-repeat="question in questions" cs-question question="question" class="col-md-9 centered"
               ng-if="(question.question_type=='signup' || question.question_type=='signup_educator')"
               answers="answers"></div>
        </div>

        <div class="row">
          <div class="col-xs-12" cs-labels search="user.educator_profile_search"
               grade-levels-title="Grade levels I teach."
               engagement-levels-title="Engagement Preferences (click all that apply)"
               subject-areas-title="For what grade levels are you looking to bring in a community partner? (click all that apply)"
               type="educator"
               >
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 centered">
            <div ng-show="!enoughLabelsSelected()" alert type="danger">
              No labels selected
            </div>
          </div>
        </div>

        <div class="row">
          <div class="checkbox col-md-9 centered">
            <label>
              <input type="checkbox" ng-model="agreeToFollowHomePolicies">
              I agree to follow the policies and procedures of my home institution when working with third-party individuals (e.g. community partners) and organizations.
           </label>
          </div>
        </div>
        <div class="row">
          <div class="signup-bottom">
            <div class="pull-right">
              <button class="btn btn-primary"
                      ng-disabled="(!agreeToFollowHomePolicies) || (!enoughLabelsSelected())"
                      ng-click="submit()">
                Next</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</div>
