<div cs-main-view has-permission="{{(!(Session.activeUser === undefined))}}">
  <div class="row">

    <div class="col-sm-2 col-md-3">
<!--       <img style="img-responsive" src="http://i.imgur.com/j9NMHah.png">
      <img src="http://i.imgur.com/j9NMHah.png"> -->
  </div>

    <div class="col-sm-10 col-md-9">
      <div class="panel panel-default">
        <div class="gradient-header">
          <h1>Welcome to CommunityShare</h1>
        </div>
        <div class="row">


        <div class="panel-body">
          <h2>Institution Information</h2>

          <div class="col-md-6">

          <div class="form-group">
          <input class="form-control org-input" placeholder="Instituion Name"></input>
          <input class="form-control org-input" placeholder="Zip Code of Instituion"></input>
          <input class="form-control org-input" placeholder="School District"></input>
        </div>

          <a href="#"> + Add Instution</a>
          </div>

          <div class="col-md-6">

          <div class="form-group">
          <label for="institutionType">Instituion Type</label>
          <select class="form-control" placeholder="Instituion Type">
            <option value="" disabled selected>Instituion Type</option>
            <option>Public District School</option>
            <option>Public Charter</option>
            <option>Private School</option>
            <option>Home School</option>
            <option>Higher Education</option>
            <option>Nonprofit</option>
            <option>After School Program</option>
            <option>Other</option>
          </select>
        </div>

          <label for="Role/Position">Role/Position</label>
          <select class="form-control">
            <option value="" disabled selected>Role at Instituion</option>
            <option>Classroom teacher</option>
            <option>Curriculum Coordinator</option>
            <option>Administator</option>
            <option>Parent</option>
            <option>Other</option>
          </select>

        </div>

        <div class="col-xs-12">

        <h3>Grade Levels I teach</h3>
            <div class="btn-group">
              <button class="btn btn-sm light-yellow-button search-btn">k-5</button>
              <button class="btn btn-sm light-yellow-button search-btn">6-8</button>
              <button class="btn btn-sm light-yellow-button search-btn">9-12</button>
              <button class="btn btn-sm light-yellow-button search-btn">College</button>
              <button class="btn btn-sm light-yellow-button search-btn">Adult</button>
            </div>

        <h3>Subject areas I teach(click all that apply)</h3>
            <div class="btn-group">
            <button class="btn btn-sm light-green-button search-btn">Social Studies</button>
            <button class="btn btn-sm light-green-button search-btn">English/Language Arts</button>
            <button class="btn btn-sm light-green-button search-btn">Foreign Languages</button>
            <button class="btn btn-sm light-green-button search-btn">PE/Health/Sports</button>
            <button class="btn btn-sm light-green-button search-btn">Mathematics</button>
            <button class="btn btn-sm light-green-button search-btn">Government</button>
            <button class="btn btn-sm light-green-button search-btn">Science</button>
            <button class="btn btn-sm light-green-button search-btn">Other</button>
              </div>

              <div class="search-input">
              <form class="form-inline">
                <div class="form-group">
                  <input class="form-control" placeholder="Add More">
                </div>
                <button type="submit" class="btn btn-success">Add</button>
              </form>
            </div>

        <h3>Engadgement Preferences(click all that apply)</h3>

            <div class="btn-group">
            <button class="btn btn-sm light-blue-button search-btn">Guest Speaker</button>
            <button class="btn btn-sm light-blue-button search-btn">Field Trip Host</button>
            <button class="btn btn-sm light-blue-button search-btn">Student Competition Judge</button>
            <button class="btn btn-sm light-blue-button search-btn">Individual/Group Mentor</button>
            <button class="btn btn-sm light-blue-button search-btn">Share Curriculum Ideas</button>
            <button class="btn btn-sm light-blue-button search-btn">Curriculuum Development</button>
            <button class="btn btn-sm light-blue-button search-btn">Career Day Participant</button>
            <button class="btn btn-sm light-blue-button search-btn">Collaborator on a Class Project</button>
            </div>
      </div>


  </div>
</div>

<div class="row">

  <div class="signup-bottom">

  <div class="pull-right">
    <button class="btn btn-primary">Next</button>
  </div>

</div>

</div>
