<h4>Community Partner SignUp</h4>

<form novalidate
      action="" role="form" name="signUpForm" class="form-horizontal">
  <div class="form-group">
    <label for="name"
           class="control-label cs-form-label">Name</label>
    <div class="cs-form-control">
      <input ng-model="newUser.name"
             required
             type="text"
             name="name"
             id="name"
             class="form-control"/>
      <p ng-show="signUpForm.name.$invalid && !signUpForm.name.$pristine" class="help-block">
        A name is required.
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="email"
           class="control-label cs-form-label">Email</label>
    <div class="cs-form-control">
      <input ng-model="newUser.email"
             required
             name="email"
             id="email"
             class="form-control"
             type="email"/>
      <p ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine" class="help-block">
        Please enter a valid email.
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="password"
           class="control-label cs-form-label">Password</label>
    <div class="cs-form-control">
      <input ng-model="newUser.password"
             required
             name="password"
             id="password"
             class="form-control"
             type="password"/>
      <p ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine" class="help-block">
        A password is required.
      </p>
    </div>
  </div>

  <div cs-institutions user="newUser">
  </div>

</form>

<div cs-community-partner-settings
     methods="communityPartnerSettingsMethods"
     form="properties.partnerSettingsForm"
     ></div>

<button class="btn"
        ng-disabled="signUpForm.$invalid || properties.partnerSettingsForm.$invalid"
        ng-click="saveSettings()">
  Sign Up!
</button>
