<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeTerms()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">CommunityShare Terms Of Use</h4>
  </div>
  <div class="modal-body">

    <p>FOR MORE INFORMATION OR IF YOU HAVE ANY QUESTIONS ABOUT THESE TERMS
      OF USE, PLEASE CONTACT US AT CommunityShare.soaz@gmail.com<p>

      <h4>1. ACCEPTANCE OF TERMS OF USE</h4>

    <p>
      The following is an agreement (“Agreement”) between you (or
      “Customer”) and CommunityShare, LLC (“CommunityShare”). By visiting,
      accessing, browsing, subscribing to, or using this website (the
      “Site”) or the services offered by CommunityShare on the Site
      (collectively, the “Services”), you acknowledge that you have read,
      have understood, and agree to be bound by this Agreement and to comply
      with all applicable laws and regulations. If you do not agree to these
      terms, do not use this Site or the Services. We reserve the exclusive
      right to terminate your access to or use of the Site’s services at any
      time for any reason, including, but not limited to, if we determine in
      our sole discretion that you have used the Site in any illegal or
      improper manner, provided false or misleading information, or violated
      this Agreement.
    </p>

    <p>
      From time to time, CommunityShare may modify this Agreement and post
      those modifications on the Site. Your use of the Services after any
      such modification constitutes your acceptance of the modified
      Agreement.  The material provided in the Services is protected by law,
      including, but not limited to, United States Copyright
    </p>

    <p>
      Law and international treaties. The Services are controlled and
      operated by CommunityShare from its offices within the United
      States. CommunityShare makes no representation that materials in the
      Services are appropriate or available for use in other locations, and
      access to them from territories where their contents are illegal is
      prohibited. Those who choose to access the Services from other
      locations do so on their own initiative and are responsible for
      compliance with all applicable local laws and the policies of the
      entity you represent, such as but not limited to school policies and
      procedures.
    <p>

      <h4>2. OWNERSHIP AND PROPRIETARY INFORMATION</h4>

    <p>
      The content and information on this Site is proprietary to
      CommunityShare. You agree not to modify, copy, distribute, transmit,
      share, display, perform, reproduce, publish, license, create
      derivative works from, transfer, or sell or re-sell any materials,
      information, or services obtained from or through this Site.
    </p>

    <h4>3. USE RESTRICTIONS AND INTELLECTUAL PROPERTY</h4>

    <p>
      The Site may contain copyrighted material, trademarks, and other
      proprietary information including, but not limited to, text, software,
      and graphics, and the entire contents of are protected under the
      United States copyright laws. You may not modify, publish, transmit,
      participate in the transfer or sale, create derivative works, or in
      any way exploit any of the content on this Site in whole or in
      part. You may not modify, publish, transmit, participate in the
      transfer or sale, create derivative works, or in any way exploit any
      of the content contained on this Site in
    </p>

    <p>
      You also may not, without CommunityShare’s permission, “mirror” any
      material contained in the Services on any other server. Any
      unauthorized use of any content contained on the Site may violate
      copyright laws, trademark laws, the laws of privacy and publicity, and
      communications regulations and statutes.
    </p>

    <p>
      You will not upload, post or otherwise make available on this Site any
      material protected by copyright, trademark or other proprietary right
      without the express permission of the owner of the copyright,
      trademark or other proprietary right. You will indemnify
      CommunityShare for any claims by third parties of infringement of
      copyrights, trademarks, proprietary rights or any other harm resulting
      from such a submission of material by you.  By submitting material to
      a public area of this Site, you grant CommunityShare the right to
      edit, copy, publish and distribute any such material.
    </p>

    <p>
      CommunityShare or users of the Site may include links to third party
      websites that are controlled and maintained by others. Any link to
      other websites is not an endorsement of such websites and you
      acknowledge and agree that CommunityShare is not responsible for the
      content or availability of any such websites.
    </p>

    <h4>4. U.S. GOVERNMENT RESTRICTED RIGHTS</h4>

    <p>
      The materials on this Site are provided with “RESTRICTED RIGHTS.” Use,
      duplication, or disclosure by the Government is subject to
      restrictions as set forth in applicable laws and regulations. Use of
      the materials by the Government constitutes acknowledgment of
      CommunityShare’s proprietary rights in them.
    </p>

    <h4>5. CHANGES</h4>

    <p>
      Information on this Site may be changed or updated without
      notice. CommunityShare may also make improvements and/or changes to
      the Site, the Services, or the programs contained therein at any time
      without notice.
    </p>

    <h4>6. AVAILABILITY</h4>

    <p>
      Information CommunityShare publishes on this Site may contain
      references or cross references to products, programs and services that
      are not announced or available in your country. Such references do not
      imply that CommunityShare intends to announce such products, programs
      or services in your country. Consult CommunityShare for information
      regarding the products, programs and services which may be available
      to you.
    </p>

    <h4>7. INFORMATION “AS IS”</h4>

    <p>
      Information on this site may contain technical inaccuracies or
      typographical errors. All information is provided by CommunityShare on
      an “as is” basis only. CommunityShare will use reasonable efforts to
      maintain the site and correct any errors that occur. You agree that
      CommunityShare provides no representations and warranties that access
      to the site will be unimpeded and you agree that access to the site
      may be suspended in the case of technical errors, viruses, and the like.
    </p>

    <p>
      Your access to and use of this site, its services, and forums, are at
      your sole risk. You are solely liable for your activities related to
      this site and its services and forums. CommunityShare in no manner
      warrants the accuracy, completeness, timeliness or other
      characteristics of any content available on or through this site, its
      services, and forums. This site, its services and forums, and their
      content are provided "as is."  CommunityShare makes no representation
      or warranty of any kind, express or implied, including, without
      limitation, any warranties of merchantability, fitness for a
      particular purpose, title, or non-infringement. You are responsible
      for evaluating and bearing all risks associated with the use this
      site, its services, forums, and any of its contents, including your
      reliance on the accuracy, completeness, or usefulness of the
      content. CommunityShare in no manner warrants that this site will be
      available for access at all times, and will not be responsible for any
      inconvenience or other loss you may suffer as a result of your
      inability to access this site. CommunityShare is in no manner
      responsible for any damage to your computer, hardware, software,
      property or person resulting in any way from your use of this
      site, its services, or its forums. 
    </p>

    <h4>8. LIMITATION OF LIABILITY</h4>

    <p>
      Under no circumstances, including, but not limited to, negligence,
      shall CommunityShare be liable for any indirect, special, incidental
      or consequential damages arising out of the use, or the inability to
      use, the content offered on this site, even if CommunityShare or a
      CommunityShare authorized representative has been advised of the
      possibility of such damages. Some states do not allow the exclusion or
      limitation of incidental or consequential damages, so the above
      limitation or exclusion may not apply to you. In no event shall the
      total liability of CommunityShare under this agreement exceed fifty
      dollars ($50), regardless of the cause of action, in tort, contract,
      or otherwise.
    </p>

    <p>
      You hereby agree to release CommunityShare and its employees, agents,
      officers, directors, agents, and its successors and assigns from any
      and all liability arising out of or related to your access to and use
      of this site.  You understand that this agreement discharges
      CommunityShare and its employees, agents, officers, directors, agents,
      and successors and assigns from any and all liability to you in
      respect to injury of person or property, injury to reputation,
      defamation, or any other loss that may result as a result of your
      access to and use of this site, You hereby agree to defend and hold
      harmless CommunityShare and its employees, agents, officers,
      directors, agents, successors and assigns from and against any and all
      losses, liabilities, damages, claims, actions, costs, and expenses
      (including, but not limited to, any attorneys' fees and costs) related
      to or arising out of your access to and use of this Site, its
      services, or its forums.
    </p>

    <h4>9. INDEMNIFICATION</h4>
    <p>
      CommunityShare, at its sole discretion, may participate in the defense
      of any claim or action at your expense and any negotiations for
      settlement. CommunityShare reserves the absolute right to assume
      exclusive defense and control of any claim or action, subject to
      indemnification by you, without relieving you of your indemnification
      obligations.
    </p>

    <h4>10. USER’S DEALINGS WITH THIRD PARTIES</h4>x

    <p>
      If you are using this site to correspond, deal, or otherwise establish
      contact with another user (“third party”), be it an individual person
      or entity, your correspondence, dealings or ensuing relationship with
      such third party or parties are solely between you and the third party
      or parties. You hereby agree that CommunityShare will not be
      responsible or liable for any loss, cost, damage, or other liability
      of any sort incurred as the result of your correspondence, dealings,
      or relationship with any other third party or parties, or as the
      result of the presence of such parties on the services. In addition,
      you hereby irrevocably waive any claims against CommunityShare arising
      out of and/or related to your correspondence, dealings, and/or
      relationship with any other third party or parties.
    </p>

    <p>
      You hereby release CommunityShare, its officers, employees, agents and
      successors from any and all claims, demands, losses, damages, rights,
      and actions of any kind including, but not limited to, personal
      injuries, death, and property damage, that in any way is related to or
      arises out of (i) any correspondence, dealings, or contacts you may
      have with other CommunityShare users, or (ii) your participation in
      any offline events or activities related to or arising out of your
      access or use of this Site.
    </p>

    <p>
      Moreover, if you are accessing or using this Site in your capacity as
      an agent or representative of any entity or organization, you warrant
      that you will adhere to and follow any policies or procedures of your
      entity or organization that may apply or relate to your access or use
      of this Site or any correspondence, dealings, or other contacts that
      may arise out of your access or use of this Site.
    </p>

    <h4>11. LINKS TO THIRD PARTY SITES</h4>

    <p>
      This Site may contain hyperlinks to websites operated by persons or
      entities other than CommunityShare. Such hyperlinks are provided for
      your reference and convenience only. You agree not to hold
      CommunityShare responsible for the content or operation of such
      websites. A hyperlink from this Site in no manner not implies or
      otherwise conveys that CommunityShare endorses, agrees with, or
      otherwise warrants the content on that website.  You are solely
      responsible for determining the extent to which you wish to access or
      use any content on any other websites to which you may link from this
      Site.
    </p>

    <h4>12. GOVERNING LAW AND DISPUTE RESOLUTION</h4>

    <p>
      This Agreement and performance hereunder shall be governed by, and
      construed in accordance with, the laws of the state of Arizona
      (without giving effect to its conflict of laws principles). The
      parties agree to submit any claim, dispute or disagreement to
      mediation before a mutually-agreeable mediator prior any other form of
      dispute resolution. All mediation or any other form of dispute
      resolution shall take place in Pima County, Arizona and the parties
      irrevocably waive any objection to such venue.  Any material,
      information or idea you transmit to or post on this Site by any means
      may be disseminated or used by CommunityShare or its affiliates for
      any purpose whatsoever. Notwithstanding the foregoing, all personal
      data provided to CommunityShare will be handled in accordance with
      <a href="/#/?showModal=terms">CommunityShare’s Privacy
      Policy</a>. You are prohibited from posting or transmitting to
      or from the Site any unlawful, threatening, libelous,
      defamatory, obscene, scandalous, inflammatory, pornographic, or
      profane material, or any other material that could give rise to
      any civil or criminal liability under the law.
    </p>

    <p>
      You further agree not to upload, post, email or otherwise transmit any
      confidential information, trade secrets, "junk mail," "spam," "chain
      letters," "pyramid schemes," any other form of solicitation, or
      software viruses. CommunityShare reserves the right to remove, in our
      sole discretion, any upload or posting that violates this
      Agreement. CommunityShare moreover reserves the right to take all
      available and appropriate legal action to protect this Site and its
      contents from misuse and abuse.
    </p>

    <p>
      By posting content, including, but not limited to, text and
      photographs, to this Site, you warrant and represent that you either
      own or otherwise control all of the rights to that content, including,
      without limitation, all the rights necessary for you to post or upload
      the content, or that your use of the content is a protected fair
      use. You hereby agree that you will not knowingly provide content with
      the intent to defraud or submit misleading or false information. You
      further represent and warrant that the content you post or otherwise
      supply does not violate this Agreement, and you will indemnify and
      hold CommunityShare harmless for any and all claims of any nature
      resulting from the content you post or supply.
    </p>

    <p>
      You understand and agree that all content posted to this Site is the
      sole responsibility of the individual who originally posted the
      content. CommunityShare in no manner warrants that we approve of any
      content posted to this Site by you or any other user. CommunityShare
      also does not claim any responsibility for, and expressly disclaims
      any and all liability that may arise out of, content posted by you or
      any other user to this Site.
    </p>

    <p>
      You agree that CommunityShare has the unconditional right, in our sole
      discretion, to edit, alter, or remove any content submitted by you or
      other users to this Site.
    </p>

    <h4>14. END USER COMMUNICATIONS</h4>

    <p>
      CommunityShare, at any time now or in the future, may allow you and
      other end users to use this Site to express opinions, and otherwise
      communicate through comments, discussion groups, or other
      communication facilities that may be offered in or through the
      Services on this Site from time to time (collectively
      “Communities”). In the event of the existence of such Communities,
      CommunityShare shall have the right, but not the obligation, to
      monitor the content within the Communities at any time, for any
      reason, including to determine compliance with this Agreement and any
      operating rules established by CommunityShare, as well as to satisfy
      any applicable law, regulation or authorized government
      request. Without limiting the foregoing, CommunityShare shall also
      have the right, but not the obligation, to remove any material from
      the Communities that CommunityShare, in its sole discretion, finds to
      be in violation of this Agreement or otherwise objectionable. Any
      opinions, advice, ratings, discussions, comments, or other messages or
      postings of any kind made by you or any other end user to the
      Communities are those of the respective author(s) or distributor(s)
      and not of CommunityShare.
    </p>

    <p>
      By posting any opinions, materials, feedback, or other information on
      or through the Communities, you grant CommunityShare a royalty-free,
      perpetual, irrevocable, non-exclusive license to use, reproduce,
      modify, publish, edit, translate, distribute, perform, and display
      such materials or other information alone or as part of other works in
      any form, media, or technology whether now known or hereafter
      developed without territorial or time
    </p>

    <p>
      The Services may contain links to websites maintained by other third
      parties. These links are provided solely as a convenience to you and
      not because we endorse or have an opinion about the contents on such
      websites. We expressly disclaim any representations regarding the
      content or accuracy of materials on such websites or the
    </p>

    <h4>15. REVISIONS TO THIS AGREEMENT</h4>

    <p>
      CommunityShare may at any time revise this Agreement by updating this
      posting on this Site. By using this Site and the Services you agree to
      be bound by any such revisions and should therefore periodically visit
      this page to determine the then current terms to which you are bound.
    </p>

    <h4>16. DIGITAL MILLENNIUM COPYRIGHT ACT (“DMCA”) NOTICE.</h4>

    <p>
      In the event materials are made available in the Services and on this
      Site by third parties not within our control, we are under no
      obligation to, and do not, scan such content for the inclusion of
      illegal or impermissible content.  However, we respect the copyright
      interests of others. It is our policy not to permit materials known by
      us to infringe another party’s copyright to remain on the Site. If you
      believe any materials on the Site infringe a copyright, you should
      provide us with written notice that at a minimum contains:
    </p>

    <ol>
      <li>A physical or electronic signature of a person authorized to act
        on behalf of the owner of an exclusive right that is allegedly
        infringed;</li>

      <li>Identification of the copyrighted work claimed to have been
        infringed, or, if multiple copyrighted works at a single online site
        are covered by a single notification, a representative list of such
        works at that site;</li>

      <li>Identification of the material that is claimed to be infringing
        or to be the subject of infringing activity and that is to be removed
        or access to which is to be disabled, and information reasonably
        sufficient to permit us to locate the material;</li>

      <li>Information reasonably sufficient to permit us to contact the complaining party, such as an 
        address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;</li>

      <li>A statement that the complaining party has a good faith belief that use of the material in the 
        manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>

      <li>A statement that the information in the notification is
        accurate, and under penalty of perjury, that the complaining party is
        authorized to act on behalf of the owner of an exclusive right that is
        allegedly infringed.</li>
    </ol>

    <p>
      All DMCA notices should be sent to our designated agent as follows:
    </p>
    Garland Brown<br/>
    Weiss Brown<br/>
    6263 North Scottsdale Road, Suite 340<br/>
    Scottsdale, AZ 85250<br/>

    <p>
      It is our policy to terminate relationships regarding content with
      third parties who repeatedly infringe the copyrights of others.
    </p>

    <h4>17. SEVERABILITY</h4>

    <p>
      If any provision of this Agreement is or becomes or is deemed to be
      invalid, illegal, or unenforceable in any jurisdiction or would
      disqualify this Agreement under any applicable law, such provision
      shall be construed or deemed amended to conform to applicable law (or
      if such provision cannot be so construed or deemed amended without
      materially altering the purpose or intent of this Agreement, such
      provision shall be stricken as to such jurisdiction and the remainder
      of this Agreement and the award shall remain in full force and
      effect).
    </p>

    <button ng-click="closeTerms()" class="btn btn-primary">
      Close</button>

  </div>

</div>
