<div cs-main-view has-permission="{{(!(Session.activeUser === undefined))}}">

  <div ng-show="user">
    
    <h4>{{user.name}}</h4>

    <p class="show-linebreaks">{{user.bio}}</p>
    
    <image ng-if="user.picture_url" ng-src="{{user.picture_url}}"
           height="200"/>
    
    <div class="row" ng-show="Session.activeUser.is_administrator">
      <div class="col-lg-3 text-right">Email</div>
      <div class="col-lg-3">{{user.email}}</div>
    </div>

    <div ng-show="user.is_community_partner" cs-community-partner-view
         user="user"
         methods="communityPartnerViewMethods">
    </div>

    <div ng-show="user.is_educator" cs-educator-view
         user="user"
         methods="educatorViewMethods">
    </div>

  </div>

</div>
