<div cs-standard-wrapper>

<div cs-forbidden ng-if="Session.activeUser === undefined">
</div>

<div ng-if="Session.activeUser !== undefined">

  <div ng-show="message" class="alert alert-info">{{message}}</div>

  <div class="panel panel-default" ng-show="user">
    <div class="gradient-header">
      <h1>{{user.name}}</h1>
    </div>

    <div class="panel-body">

      <div class="col-sm-2 col-md-3">
        <img ng-src="{{user.picture_url}}" class="img-responsive img-circle centered">
        <div class="text-center">
          <button
             ng-show="Session.activeUser.id !== user.id"
             class="btn primary-btn btn-lg profile-btns"
             ng-click="startConversation(Session.activeUser, user,  undefined, true);">
            Message</button>
          <!--<button class="btn profile-share-btn btn-warning btn-lg profile-btns">
            View Shares</button>-->
          <button
             ng-show="(Session.activeUser.id !== user.id) && Session.activeUser.is_administrator"
             class="btn primary-btn btn-lg profile-btns"
             ng-click="deleteUser();">
             Delete User</button>
        </div>
      </div>

      <div class="col-sm-10 col-md-9">
        <div class="profile-bio">
        <h3 ng-repeat="ia in user.institution_associations" class="position">
          {{ia.role}}  &#183; {{ia.institution.name}}</h3>
        <p>{{user.bio}}</p>
      </div>

        <div ng-if="user.is_community_partner">
          <div class="profile-tags" cs-labels search="user.community_partner_profile_search"
               grade-levels-title="Grade Levels"
               engagement-levels-title="Engagement Preferences"
               subject-areas-title="Areas of Expertise"
               type="communityPartner"
               only-show-active="true"
               >
          </div>
        </div>

        <div ng-if="user.is_educator">
          <div class="profile-tags" cs-labels search="user.educator_profile_search"
               grade-levels-title="Grade Levels"
               subject-areas-title="Subject Areas I teach"
               engagement-levels-title="Engagement Preferences"
               type="educator"
               only-show-active="true"
               >
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default" ng-show="Session.activeUser.is_administrator">
      <div class="panel-heading">
        <h5 class="panel-title">Private Info</h5>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr><th>Email</th><td>{{user.email}}</td></tr>
          <tr><th>Year of Birth</th><td>{{user.year_of_birth}}</td></tr>
          <tr><th>Gender</th><td>{{user.gender}}</td></tr>
        </table>
      </div>
    </div>

    <div class="panel panel-default" ng-show="conversations">
      <div class="panel-heading">
        <h5 class="panel-title">Conversations</h5>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <th>Title</th><th>Initiator</th><th>Receiver</th><th>Date of last message</th>
          </thead>
          <tbody>
            <tr ng-repeat="conversation in conversations">
              <td><a href="/#/conversation/{{conversation.id}}">
                  {{conversation.title}}</a></td>
              <td><a href="/#/user/{{conversation.userA.id}}">
                  {{conversation.userA.name}}</a></td>
              <td><a href="/#/user/{{conversation.userB.id}}">
                  {{conversation.userB.name}}</a></td>
              <td>{{conversation.datetime_last_message | date: 'mediumDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default" ng-show="events">
      <div class="panel-heading">
        <h5 class="panel-title">Events</h5>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr><th>Date and Time</th><th>Educator</th><th>Educational Institution</th>
              <th>Community Partner</th><th>Description</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat = "evnt in events">
              <td><a href="#/share/{{evnt.share.id}}">
                  {{evnt.datetime_start | date: 'medium'}}</a></td>
              <td><a href="#/user/{{evnt.share.educator.id}}">
                  {{evnt.share.educator.name}}</a></td>
              <td>{{evnt.share.educator.institution_associations[0].institution.name}}</td>
              <td><a href="#/user/{{evnt.share.community_partner.id}}">
                  {{evnt.share.community_partner.name}}</a></td>
              <td>{{evnt.description || evnt.share.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
